<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Blog project</title>
    <link href="../../resources/libraries/bootstrap/dist/css/bootstrap.css"  th:href="@{/resources/libraries/bootstrap/dist/css/bootstrap.css}" rel="stylesheet" type="text/css" />
  	<link href="../../resources/css/index.css" th:href="@{/resources/css/index.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
  	<div class="container">
  		<div id="blog" class="row">
			<div class="col-sm-4 ">
          		<nav class="nav-sidebar">
              		<ul class="nav">
              			<li class="active"><a href="#" id="new_post_id"><span class="glyphicon glyphicon-star"></span> New post</a></li>             
             			<li class="nav-divider"></li>
            		</ul>
          		</nav>
        	</div>
        	
       	  	<div class="col-sm-8">
       	  	<!--begin:  news  -->
          		<div class="col-md-10 blogShort">
            		<h1>Title 1</h1>
            		<!--<em>This snippet use <a href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation" target="_blank">Sexy Sidebar Navigation</a></em>-->
            		<article><p>
			            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
			            ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
			            five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
			            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
			            Lorem Ipsum.
            		</p></article>
            		<div class="row">
              			<div class="span8">
                			<p></p>
                			<p>
                  				<i class="glyphicon glyphicon-user"></i> by <b>Mark</b>
                  			     | 
                  			  	<i class="glyphicon glyphicon-calendar"></i> 2012-08-02 20:47:04
                  				 | 
                  				<i class="glyphicon glyphicon-comment"></i> 3 Comments
                			</p>
              			</div>
            		</div>
            		<a class="btn btn-blog pull-right marginBottom10" href="#" id="btn_see_post_1_id">READ MORE</a>
          		</div>
          		
          		<div class="col-md-10 blogShort">
            		<h1>Title 2</h1>
            		<!--<em>This snippet use <a href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation" target="_blank">Sexy Sidebar Navigation</a></em>-->
            		<article><p>
			            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
			            ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
			            five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
			            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
			            Lorem Ipsum.
            		</p></article>
            		<div class="row">
              			<div class="span8">
                			<p></p>
                			<p>
                  				<i class="glyphicon glyphicon-user"></i> by <b>Mark</b>
                  			     | 
                  			  	<i class="glyphicon glyphicon-calendar"></i> 2012-08-02 20:47:04
                  				 | 
                  				<i class="glyphicon glyphicon-comment"></i> 2Comments
                			</p>
              			</div>
            		</div>
            		<a class="btn btn-blog pull-right marginBottom10" href="#" id="btn_see_post_1_id">READ MORE</a>
          		</div>
          		
          		<div class="col-md-10 blogShort">
            		<h1>Title 3</h1>
            		<!--<em>This snippet use <a href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation" target="_blank">Sexy Sidebar Navigation</a></em>-->
            		<article><p>
			            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
			            ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
			            five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
			            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
			            Lorem Ipsum.
            		</p></article>
            		<div class="row">
              			<div class="span8">
                			<p></p>
                			<p>
                  				<i class="glyphicon glyphicon-user"></i> by <b>Mark</b>
                  			     | 
                  			  	<i class="glyphicon glyphicon-calendar"></i> 2012-08-02 20:47:04
                  				 | 
                  				<i class="glyphicon glyphicon-comment"></i> 0 Comments
                			</p>
              			</div>
            		</div>
            		<a class="btn btn-blog pull-right marginBottom10" href="#" id="btn_see_post_1_id">READ MORE</a>
          		</div>

          	 <!--end:  news  -->		
       		 </div>
        	
        	
  		</div>
  	</div>
  	
  	
  <!-- begin: modal  to  see a post-->
  <div id="modal_see_post_id" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content container-fluid">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Title of the post</h3>
        </div>
        <p class="lead" >
          <h4 id="post_abstract_id">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi.
          </h4>
        </p>
        <hr></hr>
        <p> by <b>Start Bootstrap</b>   |   <span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>
        <hr></hr>
        <p id="post_body_id">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.
        </p>
        <hr></hr>
        <div class="well">
          <h4>Leave a Comment:</h4>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="Your comment"></textarea>
            </div>
            <div class="form-group">
              <input type="text" class="form-control " placeholder="Your name"/>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="pull-right">
                  <button type="button" class="btn btn-blog ">Submit comment</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <hr></hr>
        <div id="div_comments_id">

          <div class="media">
            <div class="media-body">
              <h4 class="media-heading"><i class="glyphicon glyphicon-user"></i>Start Bootstrap
                <small>August 25, 2014 at 9:30 PM</small>
              </h4>
              <p>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </p>
            </div>
          </div>
          <hr></hr>

        </div>
      </div>
    </div>
  </div>
<!-- end: modal  to  see a post-->

<!-- begin: modal  to  create a post-->
  <div id="modal_create_post_id" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content container-fluid">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New post</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Author</label>
              <div class="col-sm-10">
                <input type="text" placeholder="..." class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Tittle of the post</label>
              <div class="col-sm-10">
                <input type="text" placeholder="..." class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Extract</label>
              <div class="col-sm-10">
                <textarea style="resize:vertical;" class="form-control" placeholder="..." rows="2" name="comment" required="true"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Body</label>
              <div class="col-sm-10">
                <textarea style="resize:vertical;" class="form-control" placeholder="..." rows="5" name="comment" required="true"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="pull-right">
                  <button type="button" class="btn btn-blog">Publish post</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- end: modal  to  create a post-->  	
  	
  </body>
  
  <script src="../../resources/libraries/jquery/dist/jquery.js" th:href="@{/resources/libraries/jquery/dist/jquery.js}"></script>
  <script src="../../resources/libraries/bootstrap/dist/js/bootstrap.js" th:href="@{/resources/libraries/bootstrap/dist/js/bootstrap.j}"></script>
  
  <script src="../../resources/js/App.js"  th:href="@{/resources/js/App.js}"></script>
  <script src="../../resources/js/Main.js" th:href="@{/resources/js/Main.js}"></script>
  <script src="../../resources/js/ModalCreateNew.js" th:href="@{/resources/js/ModalCreateNew.js}"></script>
  <script src="../../resources/js/ModalShowNew.js" th:href="@{/resources/js/ModalShowNew.js}"></script>
  <script src="../../resources/js/Run.js"  th:href="@{/resources/js/Run.js}"></script>

</html>
