<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Blog project</title>
    <link href="../../resources/libraries/bootstrap/dist/css/bootstrap.css"  th:href="@{/resources/libraries/bootstrap/dist/css/bootstrap.css}" rel="stylesheet" type="text/css" />
  	<link href="../../resources/css/index.css" th:href="@{/resources/css/index.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
  	<div class="container">
  		<div id="blog" class="row">
			<div class="col-sm-4 ">
          		<nav class="nav-sidebar">
              		<ul class="nav">
              			<li class="active"><a href="#" id="new_post_id"><span class="glyphicon glyphicon-star"></span> New post</a></li>             
             			<li class="nav-divider"></li>
            		</ul>
          		</nav>
        	</div>
        	
       	  	<div class="col-sm-8" id="listadoNewsId">
       	  	<!--begin:  news  -->

          	 <!--end:  news  -->		
       		 </div>
        	
        	
  		</div>
  	</div>
  	
  	
   <!-- begin: modal  to  see a post-->
  <div id="modal_see_post_id" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content container-fluid">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title" id="post-title-id">
                <!-- Post Title -->
          </h3>
        </div>
        <p> by <span id="post-author-name"><b> </b></span>   |   <span class="glyphicon glyphicon-time"></span> Posted on <span id="post-pubdate"> </span></p>
        <hr></hr>
        <p id="post-body-id">
                <!-- Post Body -->
        </p>
        <hr></hr>
        <div class="well">
          <h4>Leave a Comment:</h4>
          <form class="form-horizontal" role="form">
            <div class="form-group form-inline col-md-12">
                 <input id="name-input" type="text" class="form-control col-md-12" placeholder="Your name" required="required" />
                 <input id="email-input" type="text" class="form-control col-md-12" placeholder="Your e-mail" required="required"/>
            </div>
            <div class="form-group col-md-12">
              <textarea id="comment-input" class="form-control" rows="3" placeholder="Your comment" required="required"></textarea>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <div class="pull-right">
                  <button id="submit-comment-btn" type="button" class="btn btn-blog ">Submit comment</button>
                </div>
              </div>
            </div>
            <div id="comment-alert" class="alert alert-warning hidden"><strong>Warning!</strong> Please, complete all of the fields.</div>
          </form>
        </div>
        <h4>Comments:</h4>
        <hr></hr>
        <div id="div-comments-id">
 
        </div>
      </div>
    </div>
  </div>
<!-- end: modal  to  see a post-->

<!-- begin: modal  to  create a post-->
  <div id="modal_create_post_id" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content container-fluid">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New post</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Author</label>
              <div class="col-sm-10">
                <input type="text" placeholder="..." class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Tittle of the post</label>
              <div class="col-sm-10">
                <input type="text" placeholder="..." class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Extract</label>
              <div class="col-sm-10">
                <textarea style="resize:vertical;" class="form-control" placeholder="..." rows="2" name="comment" required="true"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Body</label>
              <div class="col-sm-10">
                <textarea style="resize:vertical;" class="form-control" placeholder="..." rows="5" name="comment" required="true"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="pull-right">
                  <button type="button" class="btn btn-blog">Publish post</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- end: modal  to  create a post-->  	
  	
  </body>
  
  <script src="../../resources/libraries/jquery/dist/jquery.js" th:href="@{/resources/libraries/jquery/dist/jquery.js}"></script>
  <script src="../../resources/libraries/bootstrap/dist/js/bootstrap.js" th:href="@{/resources/libraries/bootstrap/dist/js/bootstrap.j}"></script>
  
  <script src="../../resources/js/App.js"  th:href="@{/resources/js/App.js}"></script>
  <script src="../../resources/js/Main.js" th:href="@{/resources/js/Main.js}"></script>
  <script src="../../resources/js/ModalCreateNew.js" th:href="@{/resources/js/ModalCreateNew.js}"></script>
  <script src="../../resources/js/ModalShowNew.js" th:href="@{/resources/js/ModalShowNew.js}"></script>
  <script src="../../resources/js/Run.js"  th:href="@{/resources/js/Run.js}"></script>

</html>
